//----------LatestNews start------
#LatestNews{
    position: relative;
    margin: 100px 0;
    .top-head{
        padding: 40px 0;
        text-align: center;
        span{
            color: $myColor2;
            font-weight: 500;
            position: relative;
            img{
                width: 55px;
                height: 55px;
                position: absolute;
                z-index: -1;
                left: 10%;
                top: -100%;
                transform: translate(10%,-100%);
                animation: myAni 9s linear 0s infinite;  
            }
        }
        h1{
            color: $myColor;
            font-weight: 900;
            font-size: 3rem;
            span{
                font-weight: 900;
            }
        }
    }
    .bottom{
        padding: 70px 0;
        text-align: center;
        &:hover{
            a{
                background:$myColor;
                color:#fff;
                 box-shadow: 0 5px 7px 0 #98cb466b;
            }
        }
        h6{
            color: $myColor2;
            font-size: 1.2rem;
        }
        p{
            color: #888;
            padding-bottom: 30px;
        }
        a{
            
            text-decoration: none;
            padding: 12px 35px;
            color: $myColor;
            border: 2px solid $myColor;
            border-radius: 40px;
            font-weight: 600;
            transition: .3s ease-in-out;
        }
    }
    .category-item{
    box-shadow: 0 0 20px 0 #ccc;
    border-radius: 10px;
    padding: 50px;
    &:hover{
        .text{
            .arrow{
                width: 20px;
            }
        }
        .img{
            img{
                backface-visibility: hidden;
                transform: scale(1) translateX(0px);

            }
            .icon{
                i{
                visibility: visible;
                opacity: 1;
                color:#fff;
                }
            }
         
        }
    }
    .img{
        position: relative;
        overflow: hidden;  
        border-radius: 5px; 


        img{
        transform: scale(1.05) translateX(-3px);
        transition: .5s ease-in-out;
        }
       
        }
        .icon{
            span{
                background-color: $myColor2;
                color:#fff;
                font-weight: 700;
                padding:7px 13px ;
                border-bottom-left-radius: 25px;
                border-bottom-right-radius: 25px;
                text-align: center;
                margin-left: 10px;
                line-height: 1.1;
            }
            a{
                text-decoration: none;
                color: $myColor1;
                padding: 10px 0;
                font-weight: 700;
                font-size: 0.9rem;
                transition: .3s ease-in-out;
                &:hover{
                    color:$myColor;
                }
            }
        }
      .text{
          h4{
              color: $myColor;
              font-weight: 700;
              padding-top: 30px;
          }
          p{
              color: #888;
          }
          hr{
              width: 15%;
              
          }
         a{
             text-decoration: none;
             color: $myColor2;
             font-weight: 500;
         }
         .arrow{
             margin-left: 10px;
            display: inline-block;
            width: 55px;
            height: 2px;
            background-color: #f15e42;
            position: relative;
            vertical-align: middle;
            transition: .3s ease-in-out;
            &::before{
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                background-color: #f15e42;
                top: 3px;
                right: -3px;
                transform: rotate(
                -45deg);
                transform: rotate(
                -45deg);
            }
            &::after{
                content: "";
                position: absolute;
                width: 10px;
                height: 2px;
                background-color: #f15e42;
                top: -3px;
                right: -3px;
                transform: rotate(
                45deg);
                transform: rotate(
                45deg);
            }
            }
        }
       
    }
    .next,.prev{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        i{
            background: $myColor1;
            padding: 15px 18px;
            border-radius: 50%;
            font-size: 1.2rem;
            color: #fff;
            box-shadow: 0 4px 13px  $myColor1;
        }
      } 
      .next{
          right: 45px;
      }
      .prev{
          left: 45px;
      }
}
//----------LatestNews end--------